[user]
	email = gabriellaza02@gmail.com
	name = Gabriel LAZA
	signingkey = /Users/glaza/.ssh/github_signing.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
