* {
    BG:    #282828ff;
    BGA:   #3c3836ff;
    FG:    #ebdbb2ff;
    FGA:   #fbf1c7ff;
    BDR:   #585858ff;
    SEL:   #1E1E2Eff;
    UGT:   #fb4934ff;
    IMG:   #FAE3B0ff;
    OFF:   #fe8019ff;
    ON:    #fabd2fff;
}
